h1 {
    text-align: center;
    font-weight: 700;
    line-height: 1.1;
    color: red;
    text-decoration: none;
    background-color: transparent;
    font-family: 'Acme', sans-serif;
    text-transform: uppercase;
    font-size: 56px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.landing-banner {
    font-size: 80px;
}

h5 {
    font-size: 15px;
}


.menuitem a {
    padding-top: 5px;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}

.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 0px;
}

.wrapper ul {
    list-style: none;
    background-color: black;
    color: white;
    height: 50px;
}

.border {
    width: 100%;
    border: double;
}

.contact-color a i,
.theband-color a i,
.catalogue-color a i,
.bookings-color a i {
    padding-right: 5px;
    color: red;
}

li {
    display: inline-block;
    width: 22%;
    text-align: center;
}

.booking-subs {
    color: red;
}

.landingimage {
    height: 80vh;

    background: url('../images/monkees.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.embed-responsive-16by9 {
    margin-bottom: 10px;
    height: 350px;
    padding: 0%;
}

.carousel-inner>.item>a>img,
.carousel-inner>.item>img {
    line-height: 1;
    width: 100%;
    height: 586px;
}

.footer-line {
    width: 100%;
    height: 1px;
    background-color: #000;
}

footer {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: gray;
    background-color: #000;
}

#footer-details a {
    color: #F44336;
}

.list-inline {
    padding-left: 0;
    margin-left: -46px;
    list-style: none;
}

.text-uppercase {
    text-transform: uppercase;
    text-align: center;
}

.bandmembers {
    color: #000;
    background-color: #fff;
}

.media-left {
    display: none;
}


.mysubmit {
    margin-bottom: 15px;
    margin-left: 45%;
}

#contact-foot {
    margin-top: -20px;
}

@media (min-width: 768px) {
    .list-inline>li {
        padding-top: 10px;
    }
    #videoposition {
        width: 60.333333%;
        margin-left: 20%;
        margin-right: 20%;
    }
    #formposition {
        display: block;
        width: 100%;
        margin-left: 1%;
    }
    .landing-banner {
        font-size: 100px;
    }
    .media-left {
        display: table-cell;
        vertical-align: top;
    }
}

@media (min-width: 992px) {
    .carousel-inner {
        height: 100%;
        width: 50%;
        margin-left: 25%;
    }
    .col-md-6 {
        width: 50%;
    }
}

@media (min-width: 992px) {
    #videoposition {
        width: 67.333333%;
        margin-left: 18%;
        margin-right: 18%;
    }
    #formposition {
        display: block;
        width: 100%;
        margin-left: 20%;
    }
    .landing-banner {
        font-size: 100px;

    }
    .border {
        width: 40%;
        border-color: #000;
        border-style: double;
        border-radius: 3%;
        margin-left: 5%;
        margin-top: 5%;
    }
    .media-left {
        display: table-cell;
        vertical-align: top;
    }
}
